@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply bg-[#24262e]
  }
  
  @font-face {
    font-family: 'Belanosima-Regular';
    src: url('./assets/fonts/Belanosima-Regular.woff2');
  }
  
  @font-face {
    font-family: 'Belanosima-Bold';
    src: url('./assets/fonts/Belanosima-Bold.woff2');
  }
  
  @font-face {
    font-family: 'Belanosima-SemiBold';
    src: url('./assets/fonts/Belanosima-SemiBold.woff2');
  }
}